@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$myColor: steelblue;

html {
  scroll-behavior: smooth;
  body{
    font-family: 'Poppins', sans-serif;
    .scroll-top{
      z-index: 9999;
      right: 1em;
      bottom: 1em;
    }
    .more-images{
      position: fixed;
      z-index: 9999;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


